#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
 
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/

/*Design Mobile*/


body {
  padding: 0;
  margin: 0;
  text-align: center;
  max-width: 1280px;
 
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 0;
}

.logoClickArte{
  max-width: 100px;
  height: auto;
  margin-right: auto;
}

.navBar input {
  margin-left: auto;
  max-width: 300px;
  width: 100%;
}

.detailsImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.addComment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addComment input {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
}

.carousel {
  margin: 20px 10px 20px 10px;
}


.addImage {
width: 80%;
font-size: 10px;
display: flex;
justify-content: center;
margin: auto;
}

.pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
 margin: auto;
}

.addImageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}