#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*Design Mobile*/

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 0;
}

.logoClickArte{
  max-width: 100px;
  height: auto;
  margin-right: auto;
}

.navBar input {
  margin-left: auto;
  max-width: 300px;
  width: 100%;
}

.detailsImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addComment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addComment input {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
}