/*cuerpo general */

#root {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(237, 238, 248);
  width: 100vw;
}

@media (min-width: 1024px) {
  #root {
    margin: 0 auto;
    text-align: center;
    background-color: rgb(237, 238, 248);
    width: 100vw;
  }
}

/*Design Mobile*/

body {
  padding: 0;
  margin: 0;
  text-align: center;
  max-width: 1280px;
}

/*---------------NavBar------------*/
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: 0;
  width: 100%;
  position: relative;
}
/*Manipulacion de Logotipo*/
.logoClickArte {
  max-width: 150px;
  height: 110px;
  background: url(./assets/logo\ 1.png);
  background-position: center;
  background-size: cover;
  top: 10px;
  filter: drop-shadow(2px 2px 5px rgb(35, 98, 192));
  animation: rotar 3s linear infinite;
}

@keyframes rotar {
  from {
    transform: (0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bar {
  border-radius: 50px;
  padding: 10px;
}

.bar img {
  max-width: 40px;
  cursor: pointer;
}
/*Menu de hamburguesa*/
.menu-icon {
  border: none;
  background: transparent;
  cursor: pointer;
}
/*desde aqui se manipula la informacion interna del menu*/
.nav-item {
  margin-left: auto;
  max-width: 100vh;
  width: 75%;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(93, 124, 245, 0.5);
  background-color: rgba(93, 124, 245, 0.1);
  border: 1px solid #5d7cf5;
  padding-right: 30px;
  padding-left: 10px;
  color: #5d7cf5;
  line-height: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item:hover {
  background-color: #5d7cf5;
  color: white;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.scrollable-menu {
  max-height: 300px;
  overflow-y: auto;
  padding: 5px;
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 0;
    width: 100%;
    position: relative;
  }

  .logoClickArte {
    max-width: 250px;
    height: 150px;
    background: url(./assets/logo\ 1.png);
    background-position: center;
    background-size: cover;
    top: 10px;
    filter: drop-shadow(2px 2px 10px rgb(35, 98, 192));
    animation: rotar 3s linear infinite;
  }

  @keyframes rotar {
    from {
      transform: (0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .bar {
    border-radius: 50px;
    padding: 10px;
    margin-right: 20px;
  }

  .bar img {
    max-width: 50px;
    height: auto;
    cursor: pointer;
  }

  .menu-icon {
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .nav-item {
    margin-left: auto;
    width: 160px;
    max-width: 40vh;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(93, 124, 245, 0.5);
    background-color: rgba(93, 124, 245, 0.1);
    border: 1px solid #5d7cf5;
    padding-right: 10px;
    padding-left: 5px;
    color: #5d7cf5;
    line-height: 1rem;
    transition: background-color 0.3s, color 0.3s;
    font-size: 20px;
  }

  .nav-item:hover {
    background-color: #5d7cf5;
    color: white;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .scrollable-menu {
    max-height: 300px;
    overflow-y: auto;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
/*---------------Carousel-----------*/
.carousel {
  margin: 20px 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .carousel {
    margin: 20px 10px;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
/*------------------Add Image-------------*/
.addImage {
  margin-bottom: 20px;
  padding: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 100vh;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 10px 15px #5d7cf5;
  border: 2px solid #5d7cf5;
  background-color: #7d7d7d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ddd;
  text-shadow: 0 0 10px #5d7cf5;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.addImage:hover {
  background-color: #5d7cf5;
  transform: scale(1.05);
}

.about {
  margin-bottom: 20px;
  padding: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 100vh;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 10px 15px #5d7cf5;
  border: 2px solid #5d7cf5;
  background-color: #7d7d7d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ddd;
  text-shadow: 0 0 10px #5d7cf5;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.about:hover {
  background-color: #5d7cf5;
  transform: scale(1.05);
}

@media (min-width: 1024px) {
  .addImage {
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 12px;
    width: 398px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px #5d7cf5;
    border: 2px solid #5d7cf5;
    background-color: #7d7d7d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ddd;
    text-shadow: 0 0 10px #5d7cf5;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }

  .addImage:hover {
    background-color: #5d7cf5;
    transform: scale(1.05);
  }

  .about {
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 12px;
    width: 398px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px #5d7cf5;
    border: 2px solid #5d7cf5;
    background-color: #7d7d7d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ddd;
    text-shadow: 0 0 10px #5d7cf5;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }

  .about:hover {
    background-color: #5d7cf5;
    transform: scale(1.05);
  }

  .container-addImage-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

.pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.pictures img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 20px;
  margin: auto;
  padding: 6px;
}

.divForm {
  position: relative;
  width: 100%;
  height: 100vh;
  border: 5px solid white;
  z-index: 1;
}

.divForm::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
  border: 3px solid whit;
}

.form {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.addImageForm {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin-bottom: ;*/
}

.addformInput {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #ddd;
  box-shadow: 0px 10px 20px rgb(129, 127, 127);
  border-radius: 10px;
  border: 2px solid white;
  margin-bottom: 5px;
  color: #00438f;
}

.form h1 {
  margin-top: 20px;
  margin-bottom: 40px;
  text-transform: none;
  color: #00438f;
  font-weight: lighter;
  font-style: italic;
  text-shadow: 0 0 10px rgba(49, 92, 184, 0.6), 0 0 20px rgba(0, 71, 255, 0.4);
  font-size: 30px;
}

.label {
  color: #00438f;
  font-weight: lighter;
  font-style: italic;
  text-shadow: 1px 3px 10px #5d7cf5;
  font-size: 15px;
}

.buttonSend {
  background: linear-gradient(90deg, #00f6ff, #0047ff);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 50px;
  font-size: 18px;
  font-family: "Arial", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 0 10px rgba(0, 246, 255, 0.6), 0 0 20px rgba(0, 71, 255, 0.4);
  transition: 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
  margin-top: 60px;
}

.loading {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vh;
  max-height: 100vh;
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .pictures-large {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .pictures {
    flex-basis: calc(33.33% - 20px);
    max-width: 100%;
    margin-bottom: 20px;
  }

  .pictures img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}

/*--------------------Details------------------*/
.detailsImg {
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  background-color: rgb(237, 238, 248);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
}

.detailsH1 {
  margin-top: 20px;
  text-transform: none;
  color: #00438f;
  font-weight: lighter;
  font-style: italic;
  text-shadow: 0 0 10px rgba(49, 92, 184, 0.6), 0 0 20px rgba(0, 71, 255, 0.4);
  font-size: 30px;
}

.container-p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2px;
}

.description {
  font-size: 14px;
  margin-left: auto;
  max-width: 100vh;
  width: 20vh;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(93, 124, 245, 0.5);
  background-color: rgba(93, 124, 245, 0.1);
  border: 1px solid #5d7cf5;
  color: #5d7cf5;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  margin-top: 10px;
  line-height: 1rem;
}

.detailsImg img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.comentarios h2 {
  margin-top: 20px;
  text-transform: none;
  color: #00438f;
  font-weight: lighter;
  font-style: italic;
  text-shadow: 0 0 10px rgba(49, 92, 184, 0.6), 0 0 20px rgba(0, 71, 255, 0.4);
  font-size: 25px;
  margin-bottom: 10px;
}

.comentarios p {
  border: 1px solid #5d7cf5;
  color: #00438f;
  border-radius: 20px;
}

/* Botón de edición */
.butonDeidit {
  width: 150px;
  margin-top: 10px;
  background: linear-gradient(90deg, #00d2ff, #3a7bd5);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Verdana", sans-serif;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.addcomentarioInput {
  width: 100%;
  max-width: 250px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0px 4px 6px #00438f;
  font-size: 14px;
  font-family: "Verdana", sans-serif;
  text-align: center;
}

/* Estilo para las etiquetas */
label {
  font-size: 13px;
  color: #00438f;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: "Verdana", sans-serif;
}

/* Botón de envío */
.buttonEnviar {
  width: 150px;
  margin-top: 10px;
  background: linear-gradient(90deg, #00d2ff, #3a7bd5);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Verdana", sans-serif;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

/* Contenedor de comentarios */
.addComment-form {
  background-color: rgb(237, 238, 248);
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}

@media (min-width: 1024px) {
  .detailsImg img {
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 100%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
  }

  .detailsImg {
    box-shadow: 0 0 10px rgba(49, 92, 184, 0.6), 0 0 20px rgba(0, 71, 255, 0.4);
  }
}

/*--------------Edit Image-------------*/
.editImgH1 {
  margin-top: 20px;
  margin-bottom: 40px;
  text-transform: none;
  color: #00438f;
  font-weight: lighter;
  font-style: italic;
  text-shadow: 0 0 10px rgba(49, 92, 184, 0.6), 0 0 20px rgba(0, 71, 255, 0.4);
  font-size: 30px;
}

.editForm {
  background-color: rgb(237, 238, 248);
  border-radius: 20px;
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}
.editForm input {
  width: 100%;
  max-width: 250px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0px 4px 6px #00438f;
  font-size: 14px;
  font-family: "Verdana", sans-serif;
  text-align: center;
}

.labelPreview {
  text-transform: none;
  color: #00438f;
  font-weight: lighter;
  font-style: italic;
  text-shadow: 0 0 10px rgba(49, 92, 184, 0.6), 0 0 20px rgba(0, 71, 255, 0.4);
  font-size: 1rem;
  text-align: center;
  margin: auto;
}

.editpreview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editpreview h3 {
  margin-top: 20px;
  margin-bottom: 40px;
  text-transform: none;
  color: #00438f;
  font-weight: lighter;
  font-style: italic;
  text-shadow: 0 0 10px rgba(49, 92, 184, 0.6), 0 0 20px rgba(0, 71, 255, 0.4);
  font-size: 30px;
}

.editpreview img {
  max-width: 90%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.buttonsUpdateDelete {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 40px;
}

.buttonsUd {
  width: 150px;
  margin-top: 10px;
  background: linear-gradient(90deg, #00d2ff, #3a7bd5);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Verdana", sans-serif;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  .editImgH1 {
    margin-top: 20px;
    margin-bottom: 40px;
    text-transform: none;
    color: #00438f;
    font-weight: lighter;
    font-style: italic;
    text-shadow: 0 0 10px rgba(49, 92, 184, 0.6), 0 0 20px rgba(0, 71, 255, 0.4);
    font-size: 40px;
  }

  .editForm {
    background-color: rgb(237, 238, 248);
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
  }
  .editForm input {
    width: 100%;
    max-width: 250px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0px 4px 6px #00438f;
    font-size: 14px;
    font-family: "Verdana", sans-serif;
    text-align: center;
  }

  .labelPreview {
    text-transform: none;
    color: #00438f;
    font-weight: lighter;
    font-style: italic;
    text-shadow: 0 0 10px rgba(49, 92, 184, 0.6), 0 0 20px rgba(0, 71, 255, 0.4);
    font-size: 1rem;
    text-align: center;
    margin: auto;
  }

  .editpreview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .editpreview h3 {
    margin-top: 20px;
    margin-bottom: 40px;
    text-transform: none;
    color: #00438f;
    font-weight: lighter;
    font-style: italic;
    text-shadow: 0 0 10px rgba(49, 92, 184, 0.6), 0 0 20px rgba(0, 71, 255, 0.4);
    font-size: 30px;
  }

  .editpreview img {
    max-width: 50%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(49, 92, 184, 0.6), 0 0 50px rgba(0, 71, 255, 0.4);
  }

  .buttonsUpdateDelete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .buttonsUd {
    width: 150px;
    margin-top: 10px;
    background: linear-gradient(90deg, #00d2ff, #3a7bd5);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Verdana", sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
    gap: 1rem;
  }

  .confirmation-delete {
    display: flex;
  }
}

/*-------------About------------*/

.container-about {
  position: relative;
  width: 100%;
  height: 100vh;
  border: 5px solid white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.container-about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/aboutMobile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  z-index: -1;
  border: 2px solid white;
}

.iconsMalu,
.iconsSam {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 30px;
}

.Members {
  text-transform: none;
  color: #00438f;
  font-weight: bolder;
  font-style: italic;
  text-shadow: 0 0 10px rgba(49, 92, 184, 0.6), 0 0 20px rgba(0, 71, 255, 0.4);
  font-size: 20px;
  font-family: italian Breakfast;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.imgIcons {
  max-width: 100%;
  width: 10vw;
  height: auto;
  margin: 0 0px;
}

@media (min-width: 1024px) {
  .container-about {
    position: relative;
    width: 100%;
    height: 100vh;
    border: 5px solid white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .container-about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/aboutUsWeb.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
    z-index: -1;
    border: 2px solid white;
  }

  /*---iconos de github y Linkedin*/
  .iconsMalu,
  .iconsSam {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-top: 30px;
  }

  .Members {
    text-transform: none;
    color: #00438f;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 0 0 10px rgba(49, 92, 184, 0.6), 0 0 20px rgba(0, 71, 255, 0.4);
    font-size: 40px;
    font-family: italian Breakfast;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .imgIcons {
    max-width: 50%;
    width: 5vw;
    height: auto;
  }
}

/*------------Not Found-------------*/
.container-notFound {
  position: relative;
  width: 100%;
  height: 100vh;
  border: 5px solid white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.container-notFound::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/notfound-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  z-index: -1;
  border: 2px solid white;
}

.logo-notFound-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 80px;
}

.logoClickArte-notFound {
  max-width: 150px;
  height: 110px;
  background: url(./assets/logo\ 1.png);
  background-position: center;
  background-size: cover;
  top: 10px;
  filter: drop-shadow(2px 2px 5px rgb(35, 98, 192));
  animation: rotar 3s linear infinite;
}

@media (min-width: 1024px) {
  .container-notFound {
    position: relative;
    width: 100%;
    height: 100vh;
    border: 5px solid white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .container-notFound::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/notfundweb.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: -1;
    border: 2px solid white;
  }

  .logo-notFound-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 250px;
  }

  .logoClickArte-notFound {
    max-width: 150px;
    height: 110px;
    background: url(./assets/logo\ 1.png);
    background-position: center;
    background-size: cover;
    top: 10px;
    filter: drop-shadow(2px 2px 5px rgb(35, 98, 192));
    animation: rotar 3s linear infinite;
  }
}
